<footer style="background-color: #000;">
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
        <div class="container-fluid">
            <span class="navbar-text" style="color: white;">
                <i class="fa-regular fa-copyright"></i> 2023 by Purva Patel | 
                <a href="https://www.linkedin.com/in/purva-patel-78a10121b?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" class="text-white" style="font-size: 20px;"><i class="fab fa-linkedin"></i></a> |
                <a href="https://github.com/Purvapatel4725" class="text-white" style="font-size: 20px;"><i class="fab fa-github"></i></a>
            </span>
        </div>
    </nav>
</footer>

<style>
    span{
        font-family: 'Nova Square', sans-serif;
    }
    </style>