<footer style="background-color: #000;">
    <div class="container-fluid py-3">
        <div class="row">
            <div class="col text-center">
                <p class="mb-0" style="color: #fff; font-family: 'Cinzel Decorative', sans-serif; font-size: 18px;">
                    &copy; 2023 by Purva Patel
                </p>
                <div class="mt-3">
                    <a href="https://www.linkedin.com/in/purva-patel-78a10121b?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" class="text-white me-3" target="_blank" rel="noopener noreferrer" style="text-decoration: none;">
                        <i class="fa-brands fa-linkedin fa-2x" style="color: #0f4c75;"></i>
                    </a>
                    <a href="https://github.com/Purvapatel4725" class="text-white" target="_blank" rel="noopener noreferrer" style="text-decoration: none;">
                        <i class="fab fa-github fa-2x" style="color: #0f4c75;"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
