<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/Content/app.css' />
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
    <!-- Make the webpage responsive-->
    <meta name="viewport" content="width=device-width">
    <link href="app.css" rel="stylesheet" type="text/css" media="only screen and (min-width:960px)">
    <!--Nova Square Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@100&family=Bebas+Neue&family=Black+Ops+One&family=Bungee+Shade&family=Germania+One&family=Kenia&family=Lilita+One&family=Monoton&family=Nova+Square&family=Orbitron:wght@400;900&family=Pixelify+Sans:wght@700&family=Racing+Sans+One&family=Russo+One&display=swap" rel="stylesheet">
  </head>
  <body>