<nav class="navbar navbar-expand-lg navbar-dark custom-navbar" style="background-color: black;">
  <div class="container-fluid text-center">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="background-color: #0f4c75; color: white;">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <% if(title=="Home" ) { %>
            <a class="nav-link active hoverable" href="/" style="color: #0f4c75;">
          <% } else { %>
            <a class="nav-link hoverable" href="/" style="color: #0f4c75;">
          <% } %>
          <i class="fa-solid fa-house" style="color: #0f4c75;"></i> Home
          </a>
        </li>
        <li class="nav-item">
          <% if(title=="Dictionary" ) { %>
            <a class="nav-link active hoverable" href="/dictionary" style="color: #0f4c75;">
          <% } else { %>
            <a class="nav-link hoverable" href="/dictionary/wordList" style="color: #0f4c75;">
          <% } %>
          <i class="fa-solid fa-book" style="color: #0f4c75;"></i> Dictionary
          </a>
        </li>
        <li class="nav-item">
          <% if(title=="About" ) { %>
            <a class="nav-link active hoverable" href="/about" style="color: #0f4c75;">
          <% } else { %>
            <a class="nav-link hoverable" href="/about" style="color: #0f4c75;">
          <% } %>
          <i class="fa-solid fa-address-card" style="color: #0f4c75;"></i> About 
          </a>
        </li>

        <% if(typeof displayName=='string' && displayName) { %>
          <li class="nav-item">
            <a href="/logout" class="nav-link hoverable" style="color: #0f4c75;"><i class="fa-solid fa-right-from-bracket" style="color: #0f4c75;"></i> Logout</a>
          </li#0f4c75
        <% } else { %>
          <li class="nav-item">
            <a href="/login" class="nav-link hoverable" style="color: #0f4c75;"><i class="fa-solid fa-right-to-bracket" style="color: #0f4c75;"></i> Login</a>
          </li>
        <% } %>
      </ul>
    </div>
    <ul class="navbar-nav ms-auto">
      <li class="navbar-text" style="color: #0f4c75;">
        <% if(typeof displayName=='string' && displayName) { %>
          <i class="fa-regular fa-user fa-bounce" style="color: #0f4c75;"></i> <%= displayName %>
        <% } %>
      </li>
    </ul>
  </div>
</nav>

<style>
  .navbar {
    text-align: center !important;
    float: none;
    display: inline-block;
    background-color: #008080; /* Background color for the navbar */
    color: aqua; /* Text color for the navbar */
    width: 100%; /* Spanning full width */
  }

  .navbar li {
    margin-left: 3em;
    margin-right: 3em;
    display: inline-block; /* Center the content */
  }

  .navbar a {
    transition: .5s color ease-in-out;
    display: inline-block;
    backface-visibility: hidden;
    vertical-align: middle;
    position: relative;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transform: translateZ(0);
    transition-duration: .3s;
    transition-property: transform;
    color: white;
  }

  .navbar a:before {
    position: absolute;
    pointer-events: none;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
    transition-duration: 0.3s;
    transition-property: transform, opacity;
  }

  .navbar a:hover,
  .navbar a:active,
  .navbar a:focus {
    transform: translateY(-5px);
  }

  .navbar a:hover:before,
  .navbar a:active:before,
  .navbar a:focus:before {
    opacity: 1;
    transform: translateY(-5px);
  }
  .nav-item, .navbar-nav{
    font-family: 'Fugaz One', cursive;
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const navbarToggler = document.querySelector('.navbar-toggler');
    const welcomeText = document.querySelector('.navbar-text');

    navbarToggler.addEventListener('click', function() {
      if (welcomeText.style.display === 'none') {
        welcomeText.style.display = 'block';
      } else {
        welcomeText.style.display = 'none';
      }
    });
  });
</script>