<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>

<main class="container-fluid d-flex align-items-center justify-content-center" style="height: 100vh; background: linear-gradient(to bottom, #f5f5f5, white);">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-2"></div>
            <div class="col-lg-6 col-md-8 col-sm-10 col-12 login-box card mt-1 shadow" style="background-color: #000; color: #fff;">
                <div class="col-lg-12 login-title" style="color: #fff;">
                    Log in
                </div>

                <div class="col-lg-12 login-form">
                    <div class="col-lg-12 login-form">
                        <form method="post" autocomplete="off">
                            <div class="mb-3">
                                <label for="username" class="form-label" style="color: #fff;">Username</label>
                                <input type="text" class="form-control" name="username" placeholder="Enter username" id="username" required autofocus style="background-color: #000; border-bottom: 2px solid #fff; color: #fff;">
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label" style="color: #fff;">Password</label>
                                <input type="password" class="form-control" name="password" placeholder="Enter password" id="password" required style="background-color: #000; border-bottom: 2px solid #fff; color: #fff;">
                            </div>

                            <div class="col-lg-12 loginbttm">
                                <div class="col-lg-6 login-btm login-text">
                                    <!-- Error Message -->
                                </div>
                                <div class="col-lg-6 login-btm login-button">
                                    <button type="submit" class="btn btn-outline-primary" style="border-color: #fff; color: #fff;">LOGIN</button>
                                    <p class="text-center mt-5 text-center" style="color: #777;">Don't have an account? <a href="/register" style="color: #fff; text-decoration: none; text-decoration: underline;">Register Here</a></p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-3 col-md-2"></div>
            </div>
        </div>
    </div>
</main>

<%- include ../partials/bottom_nav.ejs %>
<%- include ../partials/footer.ejs %>

<style>
    .form-control::placeholder{
        color: grey;
    }
    body {
        background: #222D32;
        font-family: 'Roboto', sans-serif;
    }

    .login-box {
        margin-top: 75px;
        height: auto;
        background: #1A2226;
        text-align: center;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }

    .login-key {
        height: 100px;
        font-size: 80px;
        line-height: 100px;
        background: -webkit-linear-gradient(#27EF9F, #0DB8DE);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .login-title {
        margin-top: 15px;
        text-align: center;
        font-size: 30px;
        letter-spacing: 2px;
        margin-top: 15px;
        font-weight: bold;
        color: #ECF0F5;
    }

    .login-form {
        margin-top: 25px;
        text-align: left;
    }

    input[type=text],
    input[type=password] {
        background-color: #1A2226;
        border: none;
        border-bottom: 2px solid #fff;
        border-top: 0px;
        border-radius: 0px;
        font-weight: bold;
        outline: 0;
        margin-bottom: 20px;
        padding-left: 0px;
        color: #fff;
    }

    .form-control:focus {
        border-color: inherit;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-bottom: 2px solid #fff;
        outline: 0;
        background-color: #1A2226;
        color: #fff;
    }

    .btn-outline-primary {
        border-color: #fff;
        color: #fff;
        border-radius: 0px;
        font-weight: bold;
        letter-spacing: 1px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }

    .btn-outline-primary:hover {
        background-color: #fff;
        right: 0px;
        color: #000;
    }

    .login-btm {
        float: left;
    }

    .login-button {
        padding-right: 0px;
        text-align: left; /* Changed from 'right' to 'left' */
        margin-bottom: 25px;
    }

    .login-text {
        text-align: left;
        padding-left: 0px;
        color: #A2A4A4;
    }

    .loginbttm {
        padding: 0px;
    }

    .login-form,
    .login-title {
        font-family: 'Nova Square', sans-serif;
    }
</style>
