<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>

<main class="container-fluid d-flex align-items-center justify-content-center" style="height: 100vh; background: linear-gradient(to bottom, #f5f5f5, white);">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-2"></div>
            <div class="col-lg-6 col-md-8 card mt-1 shadow" style="background-color: #000; color: #0f4c75">
                <div class="col-lg-12 login-title" style="color: #0f4c75;">
                    Register here
                </div>

                <div class="col-lg-12 login-form">
                    <form method="post" autocomplete="off">
                        <div class="mb-3">
                            <label for="username" class="form-label">Username:</label>
                            <input type="text" class="form-control" name="username" placeholder="Enter username" id="username" required autofocus>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password:</label>
                            <input type="password" class="form-control" name="password" placeholder="Enter password" id="password" required>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email Address:</label>
                            <input type="email" class="form-control" name="email" placeholder="Enter Email Address" id="email" required>
                        </div>
                        <div class="mb-3">
                            <label for="displayName" class="form-label">Display Name:</label>
                            <input type="text" class="form-control" name="displayName" placeholder="Enter display name" id="displayName" required>
                        </div>

                        <div class="col-lg-12 loginbttm">
                            <div class="col-lg-6 login-btm login-text">
                                <!-- Error Message -->
                            </div>
                            <div class="col-lg-6 login-btm login-button">
                                <button type="submit" class="btn btn-outline-success" style="border-color: #fff; color: #0f4c75;">Register</button>
                                <p class="text-center mt-5 text-center" style="color: #777;">Don't have an account? <a href="/login" style="color: #0f4c75; text-decoration: none; text-decoration: underline;">Login Here</a></p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-3 col-md-2"></div>
        </div>
    </div>
</main>

<%- include ../partials/bottom_nav.ejs %>
<%- include ../partials/footer.ejs %>


<style>
    body {
        background: black;
        font-family: 'Cinzel Decorative', sans-serif;
    }

    .login-box {
        margin-top: 75px;
        height: auto;
        background: black;
        text-align: center;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }

    .login-title {
        margin-top: 15px;
        text-align: center;
        font-size: 30px;
        letter-spacing: 2px;
        font-weight: bold;
        color: #ECF0F5;
    }

    .login-form {
        margin-top: 25px;
        text-align: left;
    }

    input[type=text],
    input[type=password],
    input[type=email] {
        background-color: black;
        border: none;
        border-bottom: 2px solid white;
        border-top: 0;
        border-radius: 0;
        font-weight: bold;
        outline: 0;
        margin-bottom: 20px;
        padding-left: 0;
        color: #ECF0F5;
    }

    .form-control:focus {
        border-color: inherit;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-bottom: 2px solid white;
        outline: 0;
        background-color: #1A2226;
        color: #ECF0F5;
    }

 

    .btn-outline-success:hover {
        background-color: black;
        right: 0px;
        color: #fff;
    }

    .login-btm {
        float: left;
    }

    .login-button {
        padding-right: 0px;
        text-align: left;
        margin-bottom: 25px;
    }

    .login-text {
        text-align: left;
        padding-left: 0px;
        color: #A2A4A4;
    }

    .loginbttm {
        padding: 0px;
    }

    .login-form,
    .shadow {
        font-family: 'Cinzel Decorative', sans-serif !important;
    }
    .form-control::placeholder{
        font-family: 'Cinzel Decorative', sans-serif !important;
        color: #0f4c75 !important;
    }
    label{
        color: white;
    }
</style>
